<% title "Search for Images" %>

<% form_remote_for "", :url => query_path do %>
  <label for="q" class="large_text bold_text">Search:</label> <%= text_field_tag :q, {}, :onkeyup => "this.form.onsubmit()", :autocomplete => "OFF", :size => 30, :class => "large_text bold_text" %> <span class="large_text bold_text image_count" id="image_count">0</span>
<% end %>

<ul id="results">
</ul>


